body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    box-sizing: border-box;
    color: #f1faee;
    text-shadow: 1px 1px 1px black;
    line-height: 1.4;
    word-wrap: break-word;
    text-rendering: optimizeLegibility;
    text-align: center;
}

a {
    text-decoration: none;
    color: #41adff;
    
}

.load-icon {
    display: none; 
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    font-size: 35px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.img-container {
    height: 300px;
    width: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
}

.book {
   
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 400px;
   
}

.book p {
    margin-bottom: 75px;
}

.book-grid {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 55px;
}

h1 {
    
    margin: 0;
    text-shadow: 1px 1px 2px black;
}

.title {
    
    max-height: 50px;
}

.author {
    max-height: 25px;
    margin-bottom: 35px;
}

.description {
    max-height: 25px;
    margin-bottom: 35px;
}


button, input {
    color: #fff;
    color: var(--form-text);
    background-color: #161f27;
    font-family: inherit;
    font-size: inherit;
    margin-right: 6px;
    margin-bottom: 6px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    outline: none
}


button {
    cursor: pointer;
    padding: 10px 20px
}

button:hover {
    background: #040a0f
}

button:focus,input:focus {
    box-shadow: 0 0 0 2px rgba(0,150,191,.67);
}


.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.play-icon {
    color: #9177C7;
}


#ai-title{
    color: #4796E3;
}

#movie-title {
    color: #9177C7;
}

#recommender-title {
    color: #780000;
}

@media screen and (max-width: 800px) {
  .book-grid { 
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 800px) {
  .book-grid { 
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1400px) {
  .book-grid { 
    grid-template-columns: 1fr 1fr 1fr;
  }
}